#text-container {
    text-align: center;
}

#spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cancel-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#solo-button {
    justify-content: center;
    display: flex;
    position: relative;
    min-width: auto;
    align-items: center;
}

#tabs-container {
    margin-bottom: 20%;
    font-size: 130%;
}

#waiting-section {
    position: relative;
}

#parameter-solo-container {
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
}

#parameter-solo-button {
    font-size: 13px;
}

#button-solo-label {
    margin-top: 5%;
    justify-content: center;
    display: flex;
    position: relative;
    min-width: auto;
    align-items: center;
}
