<mat-card>
    <mat-dialog-content>
        <div>
            <h1>Configuration des paramètres de la partie</h1>
        </div>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="parameter-container" appearance="fill">
                <mat-label>Veuillez saisir votre nom</mat-label>
                <input matInput formControlName="name" placeholder="Nom" />
            </mat-form-field>

            <div id="timer-container">
                <p class="text-container">Temps par tour</p>
                <div id="timer2-container">
                    <button class="timer-button" type="button" (click)="decrementTime()">-</button>
                    <div #time id="time">{{ timerToString() }}</div>
                    <button class="timer-button" type="button" (click)="incrementTime()">+</button>
                </div>
            </div>

            <mat-form-field class="parameter-container" appearance="fill">
                <mat-label>Dictionnaire</mat-label>
                <mat-select formControlName="selectedDictionary">
                    <mat-option
                        *ngFor="let dictionary of dictionaries$ | async; index as id"
                        value="{{ dictionary.title }}"
                        matTooltip="{{ dictionary.description }}"
                        [matTooltipPosition]="'right'"
                    >
                        {{ dictionary.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="isSoloGame" class="parameter-container" appearance="fill">
                <mat-label>Niveau de l'adversaire</mat-label>
                <mat-select formControlName="botLevel">
                    <mat-option value="Débutant">Débutant</mat-option>
                    <mat-option value="Expert">Expert</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" id="confirm-settings" [disabled]="!settingsForm.valid">
                    Confirmer paramètres
                </button>
            </mat-card-actions>
        </form>
    </mat-dialog-content>
</mat-card>
