<mat-card>
    <h2 class="fix-position">Objectifs privés</h2>
    <div *ngFor="let objective of privateObjectives">
        <mat-checkbox [checked]="objective.isValidated" (click)="notClickable($event)"
            ><strong>{{ objective.description }}</strong
            ><br />Récompense: <strong>{{ objective.value }}</strong></mat-checkbox
        >
    </div>
    <h2 class="fix-position">Objectifs publics</h2>
    <div *ngFor="let objective of publicObjectives">
        <mat-checkbox [checked]="objective.isValidated" (click)="notClickable($event)"
            ><strong>{{ objective.description }}</strong
            ><br />Récompense: <strong>{{ objective.value }}</strong></mat-checkbox
        >
    </div>
</mat-card>
