.fix-position {
    margin-bottom: -5px;
}

.objective-container {
    width: 100%;
}

// Tiré de https://stackoverflow.com/questions/54168627/mat-checkbox-custom-color-cannot-be-changed
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: rgb(25, 139, 25) !important;
}

::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
}
